body{
    margin:0;
}
#nav{
/*    background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-color: slategray; */
    color: black;
    position: absolute;
    width: 100%;
}
#title{
    float: right;
    width: 0%;
    font-size: 2.5vw;
    text-align: right;
}
#slider{
    text-decoration: none;
    list-style: none;
    font-size: 5vw;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    cursor: pointer; 
}
#icon{
    width: 20%;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    font-size: 2vw;
    color: black;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
#navicons{
    text-align: center;
    font-size:3vw;
    letter-spacing: 20px;
    padding-top: 15px;
    color: black;
    height: 100px;
    width: 20%;
    position: absolute;
    left: 50px;
    display: flex;
}

#navicons a:hover{
    background-color: blue;
}
#navicons a:visited{
    color: black;
}
#navicons.active{
    left: 50px;
}
#background{
/*    background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);*/
    height: 1080px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: static;
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
#nicbuffer{
    width: 100%;
    height: 100px;
}

#nic{
    position: absolute;
    padding-left: 0;
    padding-right: 0%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    animation-name:nicbgone;
    animation-duration: 2s;
    animation-iteration-count: 6;
    visibility: hidden;
}
#discord{
    position: absolute;
    height: 20%;
    width: 100%;
    text-align: center;
    top: 300px;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
    font-size: 35px;
}
#foot{
    
}
@keyframes example {
    0% {background-color: #7799CC;}
    20% {background-color: #F69CC4;}
    40% {background-color: #f4adc6;}
    60% {background-color: #FDFD95 ;}
    80% {background-color: #AFC3D2;}
    100% {background-color: #7799CC;}
}
@keyframes nicbgone {
    0% {visibility: hidden; opacity: 0.0;}
    70% {visibility: visible; opacity: 0.1;}
    100%{visibility: hidden;opacity: 0.0;}
}
@media screen and (max-width:760px){
    #navicons{
        position: absolute;
        left: -200px;
        display: flex;
    }
}
@media screen and (min-width:760px){
    #slider{
        position: fixed;
        display: none;
    }
}
