html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    margin:0;
    height:100%;
    width:100%;
}
#nav{
/*    background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-color: slategray; */
    color: black;
    position: absolute;
    width: 100%;
    height: 10%;
}
#slider{
    text-decoration: none;
    list-style: none;
    font-size: 8vw;
    height: 100%;
    width: 5%;
    padding-top: 2%;
    padding-left: 10px;
    position: absolute;
    cursor: pointer; 
    display: table;
}
#icon{
    width: 30%;
    height: 100%;
    padding-top: 2%;
    padding-right: 10px;
    float: right;
    font-size: 2.5vw;
    color: black;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
#navicons{
    text-align: center;
    font-size:5vw;
    letter-spacing: 20px;
    color: black;
    height: 80%;
    width: 30%;
    margin-top:2%;
    left:1%;
    position:absolute;
    border-radius: 100x;
}

#navicons a:hover{
    background-color: black;
    color: black;
    border-radius: 100px;
}
#navicons a:visited{
    color: black;
}
#navicons.active{
    left: 14%;
    display: block;
     
}
#background{
/*    background-image: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);*/
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: static;
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
#nicbuffer{
    width: 100%;
    height: 10%;
}

#foot{
    width:100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    color: white;
    
}
#validator{
    position: absolute;
    width:10%;
    height:100%;
    padding: 0px;
    right:0;
    overflow: hidden
}
#nic{
    position: absolute;
    padding-left: 0;
    padding-right: 0%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    animation-name:nicbgone;
    animation-duration: 2s;
    animation-iteration-count: 6;
    visibility: hidden;
}
#discord{
    position: absolute;
    height: 20%;
    width: 100%;
    text-align: center;
    top: 30%;
    font-family: 'Pacifico', cursive;
    overflow:visible;
    font-size: 3.5vw;
}
@keyframes example {
    0% {background-color: black;}
    100% {background-color: black;}
}
@keyframes nicbgone {
    0% {visibility: hidden; opacity: 0.0;}
    70% {visibility: visible; opacity: 0.1;}
    100%{visibility: hidden;opacity: 0.0;}
}
@media screen and (max-width:760px){
    #navicons{
        position: absolute;
        left: -200px;
        display: flex;
    }
}
@media screen and (min-width:760px){
    #slider{
        position: fixed;
        display: none;
    }
}
